@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1900px
2. 1550px
3. 1380px
4. 1280px
5. 1199px
5. 1024px
6. 991px
7. 767px
8. 575px
9. 479px
10. 400px

******************************/

/************
1. 1900px
************/
@media (max-width: 2060px){
	
.gallery {
	grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
	align-items: center;
	justify-content: center;
	justify-self: center;
}

.gallery img {
  width: 400px;
  height: 400px;
}
}


/************
2. 1550px
************/


@media only screen and (max-width: 1550px)
{
	.gallery {
		grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
		align-items: center;
		justify-content: center;
		justify-self: center;
	}
	
	.gallery img {
		width: 350px;
		height: 350px;
	}
}


/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.header
	{
		width: 1200px;
	}
	.header_content
	{
		width: calc(100% - 219px);
	}
	.main_nav_container
	{
		padding-right: 63px;
	}

	.gallery {
		grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
		align-items: center;
		justify-content: center;
		justify-self: center;
	}
	
	.gallery img {
		width: 300px;
		height: 300px;
	}
}

/************
4. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.header
	{
		width: 90%;
	}
	.header_content
	{
		width: 100%;
	}
	.main_nav_container
	{
		padding-right: 53px;
	}
}



/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	.main_nav_item
	{
		margin-right: 33px;
	}
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.header_content{
		display: block;
	}
	.main_nav_container
	{
		display: none;
	}
	.logo_container
	{
		padding-left: 30px;
	}
	.hamburger_container
	{
		display: block;
	}
	.footer_col
	{
		margin-bottom: 30px;
	}
	.footer_col:last-child
	{
		margin-bottom: 0px;
	}
}




/************
7. 767px
************/

@media only screen and (max-width: 767px)
{
	.menu_container
	{
		right: -100vw;
		width: 100vw;
		height: 100vh;
	}

	.footer_content .row{
		display: grid;
		justify-content: center;
	}

	.footer_content .logo_container
{
	padding-left: 0px;
	margin-right: 0;
	height: 90px;
}

	#logoMainContainer{
		display: grid;
		justify-items: center;
	}

	.showBtnUp .go-top-button{
		width: 3rem;
		height: 3rem;
		z-index: 101;
		animation: popup .3s ease-in-out;
		-webkit-animation: popup .3s ease-in-out;
	}
	.go-top-button i{
		font-size: 1.2rem;
	}
}

/************
8. 575px
************/

@media only screen and (max-width: 575px)
{
	h1{font-size: 24px;}
	p{font-size:13px;}
	.header
	{
		height: 74px;
	}
	.logo_container
	{
		padding-left: 15px;
	}

	.logo span
	{
		font-size: 16px;
	}
	.hamburger_container
	{
		right: 5px;
	}
	.menu
	{
		top: 70px;
	}
	.menu_item
	{
		margin-bottom: 0px;
	}
	.menu_item a
	{
		font-size: 24px;
	}
	.menu_copyright
	{
		display: none;
	}
	.menu_social_container
	{
		margin-top: 50px;
	}
	.menu_close_container
	{
		right: 30px;
		top: 34px;
	}

	.footer_bar
	{
		padding-top: 49px;
		padding-bottom: 52px;
	}
	.footer_social
	{
		margin-top: 20px;
	}
	.footer_copyright span
	{
		font-size: 13px;
	}
}


/************
9. 479px
************/

@media only screen and (max-width: 479px)
{
	.header
	{
		height: 60px;
		top: 15px;
	}
	
}

/************
10. 440px
************/
@media (max-width: 440px){
	.gallery {
		grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
		align-items: center;
		justify-content: center;
		justify-self: center;
	}
	
	.gallery img {
		width: 200px;
		height: 200px;
	}
}

